PICKMEAL_API_URL=http://api:8000
PICKMEAL_OCR_BACKEND=auto
PICKMEAL_OCR_FALLBACK_BACKEND=easyocr
PICKMEAL_OCR_LANGS=en
PICKMEAL_PADDLE_DET_MODEL=PP-OCRv5_server_det
PICKMEAL_OCR_MAX_IMAGE_SIDE=2560
PICKMEAL_DATASET_SUMMARY_PATH=data/interim/dataset_summary.json
